htaccess
.idea/
app/php/const.php
nbproject/*
/app/php/const.original.php
app/assets/news/*
vendor/*
app/build/*
cordova/www/*
cordova/platforms/*
cordova/node_modules/*
cordova/plugins/*
node_modules/*