.openApplication {
    display: none;
    position: fixed;
    min-height: 6rem;
    width: 100%;
    background-color: #fff;
    bottom: 8rem;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}